# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
db.sqlite3
*.sqlite3
/media/
/staticfiles/

# Entorno virtual
venv/
.venv/
env/

# Variables de entorno
.env
.env.*

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
